/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .header__title {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
    text-align: center;
  }
  .header__img {
    width: 60%;
  }
}
